### Gradle ###
.gradle
!../gradle/wrapper/gradle-wrapper.jar
build/
!**/src/main/**/build/
!**/src/test/**/build/
## Gradle GUI config ##
gradle-app.setting

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/*
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
## mpeltonen/sbt-idea plugin ##
.idea_modules/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### BlueJ files ###
*.ctxt

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride
Icon[\r]
## Thumbnails ##
._*.jpeg

### KDE directory preferences ###
.directory

### .nfs files (created when an open file is removed but is still being accessed) ###
.nfs*

### Node modules ###
**/node_modules/

### Other ###
*~