name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  path-filter:
    name: Check if documentation changed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            docs:
              - 'documentation/**'

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: path-filter
    if: needs.path-filter.outputs.docs == 'true' || ${{github.event.action}} == 'workflow_dispatch'
    defaults:
      run:
        working-directory: './documentation'
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
